
body {
  background-color: #504136;
  color: #E8DDC0;
  font-family: 'PT Serif', serif;
}

label {
  display: block;
  text-align: right;
  font-size: 22px;
}

.jumbotron h1 {
  font-size: 80px;
}

.jumbotron {
  font-family: 'Lobster', cursive;
  text-align: center;
  color: #A49E8D;
  background-color: #302720;
}

table {
  margin: auto;
}

button {
  margin-top: 10px;
  color: #E8DDC0;
  font-family: 'PT Serif', cursive;
  /*font-style: italic;*/
  background-color: #302720;
  border: none;
}

.form-control {
  background-color: #E8E5DE;
}

.input-group {
  margin: 3px 0px;
}

td {
  text-align: center;
  font-size: 150px;
  padding: 0px;
  height: 280px;
  width: 280px;
  border: 30px solid #B2E6D4;
  color: #83E8BA;
}

.winning {
  color: #E8E5DE;
  background-color: #689689;
}

.top {
  border-top: none;
}

.bottom {
  border-bottom: none;
}

.left {
  border-left: none;
}

.right {
  border-right: none;
}

.top.right {
  border-radius: 0px 30px 0px 0px;
}

.top.left {
  border-radius: 30px 0px 0px 0px;
}

.bottom.left {
  border-radius: 0px 0px 0px 30px;
}

.bottom.right {
  border-radius: 0px 0px 30px 0px;
}

.row.well {
  background-color: #A49E8D;
  text-align: center;
  border: 3px solid #302720;
}

#alerts {
  color: #E8DDC0;
  font-size: 26px;
  margin: 10px auto 12px auto;
  font-family: 'PT Serif', cursive;
  font-style: italic;
  font-weight: bold;
}

.myHide {
  display: none;
}
