td {
  text-align: center;
  font-size: 190px;
  padding: 0px;
  height: 280px;
  width: 280px;
  border: 10px solid black;
}

.winning {
  color: green;
  background-color: yellowgreen;
}

.top {
  border-top: none;
}

.bottom {
  border-bottom: none;
}

.left {
  border-left: none;
}

.right {
  border-right: none;
}
